@font-face { 
     font-family: 'ProximaNova-Regular';
     src: url(./fonts/ProximaNova-Regular.ttf);
     src: url(./fonts/ProximaNova-RegularIt.eot);
     src: url(./fonts/ProximaNova-RegularIt.woff);
    }